<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <form action="/signIn" method="POST">
      <div class="form-group">
        <label for="email">username</label>
        <input type="username" class="form-control" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <button type="submit" class="btn btn-dark">Login</button>
    </form>
  </body>
</html>
